* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.menu {
  text-align: center;
  background-color: black;
  margin-bottom: 1vw;
}

.menu ul {
  font-size: 0;
}

.menu ul li {
  display: inline-block;
  font-size: 1.2vw;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0.7vw 1.2vw;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu ul li:hover,
.menu ul li.active {
  background-color: rgb(19, 220, 39);
}

main {
  width: 85%;
  margin: 0 auto;
}

.videocard-images {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  font-size: 0;
  height: 280px;
}

.videocard-images div {
  display: inline-block;
  vertical-align: top;
}

.videocard-images .cont1 {
  width: 40%;
  height: 100%;
}

.videocard-images .cont1 img {
  width: 100%;
  height: 50%;
  display: block;
}

.videocard-images .cont2 {
  width: 60%;
  height: 100%;
}

.cont2 .img3 {
  width: 100%;
  height: 70%;
  display: block;
}

.img5,
.img4 {
  width: 49%;
  height: 30%;
}

.main-cont {
  width: 100%;
  font-size: 0;
  text-align: center;
}

.left-cont {
  display: inline-block;
  vertical-align: top;
  width: 18%;
  font-size: 14px;
  text-align: center;
  margin-right: 1%;
}

.left-cont div {
  margin-bottom: 30px;
}

.left-cont img {
  width: 80%;
  height: 122px;
}

.left-cont h3 {
  margin: 6px 0;
  font-size: 16px;
}

.left-cont p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #333;
}

.videocard-info {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  font-size: 14px;
  text-align: center;
}

.right-cont {
  display: inline-block;
  vertical-align: top;
  width: 18%;
  font-size: 14px;
  text-align: center;
  margin-left: 1%;
}

.right-cont div {
  margin-bottom: 30px;
}

.right-cont img {
  width: 80%;
  height: 122px;
}

.right-cont h3 {
  margin: 6px 0;
  font-size: 16px;
}

.right-cont p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #333;
}

.card1,
.card2 {
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.card1 h2,
.card2 h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5vw;
  font-size: 1.6vw;
}

.card1 .info {
  width: 100%;
  text-align: center;
  font-size: 0;
  height: auto;
}

.text-left,
.image-center,
.text-right {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  box-sizing: border-box;
}

.text-left {
  width: 30%;
  padding-right: 20px;
  vertical-align: middle;
}

.image-center {
  width: 40%;
}

.image-center img {
  width: 100%;
  height: auto;
  max-height: 350px;
  vertical-align: middle;
}

.text-right {
  width: 30%;
  padding-left: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  background-color: #0074d9;
  color: white;
  border: 1px solid #004d99;
  padding: 6px 10px;
  border-radius: 4px;
  width: 60%;
}

.info-rtx4070 {
  width: 100%;
  text-align: center;
  font-size: 0;
}

.tetx-rtx4070 {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
}

.rtx4070-img {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: auto;
  margin-left: 4%;
}

.button-container2 {
  margin-top: 10px;
}

.button-container2 button {
  background-color: #0074d9;
  color: white;
  border: 1px solid #004d99;
  padding: 6px 10px;
  border-radius: 4px;
  float: right;
}

button:hover {
  background-color: #005fa3;
  cursor: pointer;
}

footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 1.2vw 0;
  font-size: 1vw;
  border-top: 3px solid rgb(19, 220, 39);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
}

footer p {
  margin: 0;
}

footer strong {
  color: rgb(19, 220, 39);
  text-shadow: 0 0 6px rgba(19, 220, 39, 0.6);
  font-weight: 600;
}
