th {
  border: 1px solid;
  padding: 5px;
}

td {
  border: 1px solid;
  padding: 5px;
}

.hide {
  display: none;
}

.select-page {
  color: blue;
}
.page:hover {
  color: blue;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

svg {
  width: 800px;
  height: 400px;
}

svg path,
line {
  fill: none;
  stroke: black;
  width: 1px;
}

svg text {
  font: 8px Verdana;
}

.error {
  width: 500px;
}

.erro-text {
  color: red;
  display: none;
}
